name: Run test cases

on:
  workflow_call:
    inputs:
      browser:
        type: string
        description: 'Filter cucumber tags'
        required: true
      cucumber_tags:
        type: string
        required: false
    secrets:
      BROWSERSTACK_USER:
        required: true
      BROWSERSTACK_KEY:
        required: true

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      BROWSERSTACK_USER: ${{ secrets.BROWSERSTACK_USER }}
      BROWSERSTACK_KEY: ${{ secrets.BROWSERSTACK_KEY }}

    steps:

      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin' # See 'Supported distributions' for available options
          java-version: '17'
          cache: 'maven'

      - name: Cache local Maven repository
        uses: actions/cache@v3
        id: cache
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-          

      - name: Build the Project
        if: steps.cache.outputs.cache-hit != 'true'
        run: mvn clean install -DskipTests

      - name: Run Test cases
        run: mvn clean verify -D cucumber.filter.tags="${{ inputs.cucumber_tags }}" -D environment="${{ inputs.browser }}" -D webdriver.base.url=https://dotcom-uat.dxp.convatec.com/ -D failsafe.rerunFailingTestsCount=1 -D cucumber.execution.parallel.enabled=true

      - name: Deploy report to Github Pages
        if: always()
        uses: peaceiris/actions-gh-pages@v3
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PUBLISH_BRANCH: gh-pages
          PUBLISH_DIR: ./target/site/serenity
          DESTINATION_DIR: ${{ inputs.browser }}

      - name: Deploy report to Github Pages 2 try
        if: failure()
        uses: peaceiris/actions-gh-pages@v3
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PUBLISH_BRANCH: gh-pages
          PUBLISH_DIR: ./target/site/serenity
          DESTINATION_DIR: ${{ inputs.browser }}